<div ng-controller="NoticeController" class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-bell fa-fw"></i> Notificaciones
        <span ng-show="unread > 0" class="pull-right badge">{{ unread }} sin leer</span>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div ng-repeat="notice in notices" class="list-group-item ng-class: { 'unread': notice.read == false }">
                <span class="ng-class: { 'pointer': notice.url }" ng-click="go(notice)">
                    <img ng-src="{{ notice.img }}" ng-show="notice.img" class="img-rounded notice-img"/>
                    <strong>{{ notice.title }}</strong> {{ notice.body }}
                </span>
                <span class="pull-right notice-options">
                    <button ng-click="markAsRead(notice)" ng-hide="notice.read" type="button" class="btn btn-default btn-xs"><i class="fa fa-check"></i></button>
                    <button ng-click="delete(notice)" type="button" class="btn btn-default btn-xs"><i class="fa fa-times"></i></button>
                </span>
                <span class="pull-right text-muted small"><em>{{ notice.datetime | date:'yyyy-MM-dd HH:mm:ss' }}</em></span>
            </div>
            <div class="alert alert-info" role="alert" ng-show="notices.length == 0">Aun no hay notificaciones</div>
        </div>
        <div class="row">
            <div class="col-md-4" ng-hide="seeAll">
                <a ng-click="seeAllNotices()" class="btn btn-default btn-block pointer"><i class="fa fa-angle-down"></i> Ver todas</a>                
            </div>
            <div class="col-md-4" ng-show="seeAll">
                <a ng-click="seeLessNotices()" class="btn btn-default btn-block pointer"><i class="fa fa-angle-up"></i> Ver últimas</a>                
            </div>
            <div class="col-md-4">
                <a ng-click="markAllAsRead()" class="btn btn-default btn-block pointer"><i class="fa fa-check"></i> Marcar todas como leídas</a>                
            </div>
            <div class="col-md-4">
                <a ng-click="deleteAll()" class="btn btn-default btn-block pointer"><i class="fa fa-times"></i> Eliminar todas</a>                
            </div>
        </div>
    </div>
</div>